.body {
	background-image: url("http://cdn.wallpapersafari.com/96/68/vk2l6x.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.col {
	opacity: 0.93;
}
.brand-logo{
	margin-left: 215px;
}
.pic{
	margin-left: 2px;
}
.pangit{
	margin-right: 200px;
}